{% extends 'base.html' %} {% block content %}
<div style="padding: 2% 3%">
  <h1 style="color: charcoal; font-family: Impact">
    Share Your Images <br />With Every One
  </h1>
  <a href="{% url 'register' %}"
    ><button name="signup" class="btn btn-primary">SignUp</button></a
  >
  <a href="{% url 'login' %}"
    ><button name="login" class="btn btn-primary">LogIn</button></a
  >
  <div style="padding: 1% 1%">{% include 'messages.html' %}</div>
</div>

<div
  id="myCarousel"
  class="carousel slide"
  data-bs-ride="carousel"
  style="margin: 0 auto; width: 600px; height: 300px"
>
  <div class="carousel-indicators">
    {% for images in image %} {% if forloop.first %}
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="{{ forloop.counter0 }}"
      class="active"
      aria-current="true"
      aria-label="Slide {{ forloop.counter }}"
    ></button>
    {% else %}
    <button
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="{{ forloop.counter0 }}"
      aria-label="Slide {{ forloop.counter }}"
    ></button>
    {% endif %} {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for images in image %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <img
        src="{{ images.img.url }}"
        class="d-block w-100"
        alt="{{ images.name }}"
        style="width: 300px; height: 300px"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ images.name }}</h5>
        <p>{{ images.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
